{% extends 'base.html.twig' %}

{% block title %}EcEM - Attributions{% endblock %}

{% block body %}
    <h1>Image Attributions</h1>
    <section>
        <ul>
            <li>
                <strong>Name of the Work:</strong> Avatar package
                <br>
                <strong>Author:</strong> Freepik
                <br>
                <strong>Source:</strong> <a href="https://www.flaticon.es/packs/spring-avatars-12" title="iconos">Iconos avatar creados por Freepik - Flaticon</a>
                <br>
                <strong>License:</strong> Licencia de Flaticon - Gratis para uso personal o comercial con atribución.
            </li>
            <br>
            <li>
                <strong>Name of the Work:</strong> Animal package
                <br>
                <strong>Author:</strong> Freepik
                <br>
                <strong>Source:</strong> <a href="https://www.flaticon.es/packs/animals-255" title="iconos">Iconos animales creados por Freepik - Flaticon</a>
                <br>
                <strong>License:</strong> Licencia de Flaticon - Gratis para uso personal o comercial con atribución.
            </li>

        </ul>
    </section>
{% endblock %}

