{% extends 'base.html.twig' %}

{% block title %}Pricing{% endblock %}

{% block body %}
     <div class="pricing">
            <section>
                <h2 class="extra">Choose your plan</h2>
                <div class="row-container">
                    <div class="row">
                        <h3>Single Lessons</h3>
                        <table>
                            <tr>
                                <th>Number of lessons</th>
                                <th>Price per lesson</th>
                            </tr>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>€30</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <h3>Bundles</h3>
                        <table>
                            <tr>
                                <th>Number of lessons</th>
                                <th>Total price</th>
                                <th>Price per lesson</th>
                            </tr>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>€120</td>
                                <td>€24</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>€220</td>
                                <td>€22</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>€400</td>
                                <td>€20</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <h3>Group Deals</h3>
                        <table>
                            <tr>
                                <th>Number of students</th>
                                <th>Number of lessons</th>
                                <th>Total price</th>
                                <th>Price per lesson and student</th>
                            </tr>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>5</td>
                                <td>€180</td>
                                <td>€18</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>10</td>
                                <td>€320</td>
                                <td>€16</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>5</td>
                                <td>€225</td>
                                <td>€15</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>10</td>
                                <td>€360</td>
                                <td>€12</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}