<div class="social-media">
    <a href="https://www.linkedin.com/in/evamolpeceres/">
        <img src="{{ asset('social/linkedin.png') }}" alt="LinkedIn">
    </a>
    <a href="#">
        <img src="{{ asset('social/telegram.png') }}" alt="Telegram">
    </a>
    <a href="https://www.verbling.com/es/profesores/evamol">
        <img src="{{ asset('social/verbling.png') }}" alt="Verbling">
    </a>
</div>